---
import {t} from "astro-i18n";

interface DepartmentCredits {
    "title": string,
    "members": Record<string, string[]>
}

// noinspection JSNonASCIINames
const credits2 : DepartmentCredits[] = [
    {
        "title": "Supervision",
        "members": {
            "Stefan Radicke": ["Product Owner"]
        }
    },
    {
        "title": "Project Manangement",
        "members": {
            "Mia Rose Winter": ["Department Head", "Marketing"]
        }
    },
    {
        "title": "Game Design",
        "members": {
            "Alexander Schrag": ["Department Head", "Game Mechanics"]
        }
    },
    {
        "title": "Graphics",
        "members": {
            "Niklas Mäckle": ["Department Head", "3D Modelling"],
            "Tim Lange": [""],
            "Jan Philipp Sievers": ["3D Modelling"],
            "Hwei Yi Soh": ["2D Concept Art", "Background Design Mothership"],
            "Alessa Wiesner": ["Level Design"]
        }
    },
    {
        "title": "Engineering",
        "members": {
            "Marvin Tran": ["Department Head"],
            "Timo Eberl": ["Department Lead", "CI/CD"],
            "Steven Aschenbrenner": ["CI/CD"],
            "Michael Asmus": ["Optimization", "Procedural Animation"],
            "Abel Bernardo": ["Optimization"],
            "Ferris Phillippi": ["Optimization"],
            "Henry Ruß": ["Camera", "Sound Integration"],
            "Marcel Triebe": ["Shader and VFX"],
        }
    },
    {
        "title": "Sound",
        "members": {
            "Calum Baird": ["Department Head", "Sound Design"],
            "Parra Rivera Candela": ["Sound Design"],
            "Hoang Phuc Vo": ["Soundtrack"],
        }
    },
    {
        "title": "Quality Assurance",
        "members": {
            "Abd Algani Khrfan": ["Department Head"],
            "Hugh Craig": []
        }
    },
    {
        "title": "Advisor",
        "members": {
            "Benjamin Münster": ["Former Creative Lead", "Game Design Advisor"],
            "Pluem Saengchan": ["Game Design Advisor"]
        }
    }
]

// noinspection JSNonASCIINames
const credits : DepartmentCredits[] = [
    {
        "title": "Supervision",
        "members": {
            "Stefan Radicke": ["Product Owner"]
        }
    },
    {
        "title": "Project Management",
        "members": {
            "Michelle Becher": ["Department Head", "Marketing"],
            "Mia Rose Winter": ["Department Lead", "Marketing"]
        }
    },
    {
        "title": "Game Design",
        "members": {
            "Tom Götz": [
                "Department Head",
                "Player Character",
                "Enemy",
                "Game Mechanics"
            ],
            "Julius Steib": [
                "Department Lead",
                "Player Character",
                "Enemy",
                "Game Mechanics"
            ],
            "Tobias Heim Galindo": ["Level Design"],
            "Hoang Phuc Vo": ["User Interface", "Level Design"],
            "Benedek Lovas": ["User Interface"],
            "Ferdinand Kubiak": ["Story"]
        }
    },
    {
        "title": "Graphics",
        "members": {
            "Benjamin Münster": ["Department Head", "2D Concept Art", "Character Animation"],
            "Gabriela Gerhardt": ["2D Concept Art", "User Interface"],
            "Annalena Maria Hertkorn": ["2D Concept Art", "Modelling and Animation"],
            "Laura Krohmer": ["2D Concept Art"],
            "Jasmin Kitzig": ["3D Modelling", "Character Rigging and Animation"],
            "Kevin Karsic": ["3D Modelling", "Character Rigging and Animation"]
        }
    },
    {
        "title": "Engineering",
        "members": {
            "Marc Holderied": ["Department Head", "Shader and VFX"],
            "Hannes Ochs": ["User Interface"],
            "Kevin Cipric": ["Movement & Combat"],
            "André Schwabauer": ["Movement & Combat"],
            "Kimberly Köhnke": ["Environment Interactions", "Coop mechanics"],
            "Tim Breunig": ["Environment Interactions", "Coop mechanics"],
            "Peter Gutjahr": ["Enemies"],
            "Brunno Serra": ["Enemies"]
        }
    },
    {
        "title": "Quality Assurance",
        "members": {
            "Pluem Saengchan": ["Department Head"]
        }
    },
    {
        "title": "Sound",
        "members": {
            "Andreas Ganter": ["Department Head", "Soundtrack"],
            "Hoang Phuc Vo": ["Environment", "User Interface", "Enemy"],
            "Julius Steib": ["Player Character", "Enemy"]
        }
    },
    {
        "title": "Music",
        "members": {
            "Andreas Ganter": [],
            "Mia Rose Winter": []
        }
    }
]
---
<section class="text-center">
    <h2 class="text-2xl font-bold leading-relaxed mb-4">{t("section.credits.title")}</h2>

        {
            [
                {"Semester": "Semester 2024/25", "Credits": credits2},
                {"Semester": "Semester 2024", "Credits": credits}
            ].map(data =>
            <h3 class="text-xl font-bold leading-relaxed mb-2">{data.Semester}</h3>
            <div class="leading-snug columns-1 md:columns-2 lg:columns-3 xl:columns-4 gap-x-4 mb-6">
                {
                    data.Credits.map(h =>
                    <div>
                        <h3 class="text-xl font-bold leading-relaxed mb-2 font-pixel text-primary">
                            {h.title}
                        </h3>
                        <dl>
                            {Object.entries(h.members)
                                .map(([name, titles]) =>
                                        <div class="break-inside-avoid-column mb-3">
                                            <>{titles.map(t => <dt class="text-sm uppercase text-neutral-300">{t}</dt>)}</>
                                            <dd class="font-bold text-lg">{name}</dd>
                                        </div>
                                )}
                        </dl>
                    </div>)
                }
            </div>
            )
        }
</section>